[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "==1.13.2"
aniso8601 = "==9.0.1"
appdirs = "==1.4.4"
arrow = "==1.3.0"
bcrypt = "==4.2.0"
boto3 = "==1.17.112"
botocore = "==1.20.112"
certifi = "==2024.8.30"
cffi = "==1.17.1"
click = ">=7.1.2"
distlib = "==0.3.8"
filelock = "==3.16.1"
flask-cors = "==5.0.0"
flask-restful = "==0.3.10"
flask = "==3.0.3"
greenlet = "==3.0.3"
ics = "==0.7.2"
itsdangerous = ">=1.1.0"
jinja2 = ">=2.11.3"
jmespath = "==0.10.0"
mako = "==1.3.5"
markupsafe = ">=1.1.1"
minizinc = "==0.9.0"
mysqlclient = "==2.2.4"
pipenv = "*"
pycparser = "==2.22"
pyjwt = "==2.9.0"
python-dateutil = "==2.9.0.post0"
python-dotenv = "==1.0.1"
python-editor = "==1.0.4"
python-http-client = "==3.3.7"
pytz = "==2024.1"
s3transfer = "==0.4.2"
sendgrid = "==6.11.0"
six = "==1.16.0"
sqlalchemy = "==2.0.34"
starkbank-ecdsa = "==2.2.0"
tatsu = "==5.8.3"
urllib3 = "==1.26.20"
virtualenv-clone = "==0.5.7"
virtualenv = "==20.26.4"
werkzeug = ">=1.0.1"
numpy = "==1.24.4"
pytest = "*"
dataclasses = "*"

[dev-packages]

[requires]
python_version = "3.8"
